@model IEnumerable<MVCApp.Models.Display>
@{
    ViewBag.Title = "Display";
}

<h2>Display Records</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model=>model.studentId)
        </th>
        <th>
            @Html.DisplayNameFor(model=>model.studentName)
        </th>
        <th>
            @Html.DisplayNameFor(model=>model.age)
        </th>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem=>item.studentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem=>item.studentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem=>item.age)
            </td>
        </tr>
    }
</table>
